<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
        <title>Color picker</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap styles -->
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <!-- Layout styles -->
        <link rel="stylesheet" type="text/css" href="../css/styles.css">
    </head>
    <body>
        <script src="../js/jquery-3.2.1.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>

        <div class="container">
            <table class="header">
                <thead>
                    <tr>
                        <th><h3>Color picker</h3></th>
                    </tr>
                </thead>
            </table>

            <!-- Color picker -->
            <div id="color-picker"></div>
        </div>
        
        <script src="./socket.io-client/dist/socket.io.js"></script>
        <script src="./iro.js-master/dist/iro.min.js"></script>
        <script src="color_picker.js"></script>
    </body>
</html>