<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
        <title>Stahování</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap styles -->
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <!-- Layout styles -->
        <link rel="stylesheet" type="text/css" href="../css/styles.css">
        <!-- System layout -->
        <link rel="stylesheet" type="text/css" href="../css/system.css">
    </head>
    <body>
        <script src="../js/jquery-3.2.1.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>

        <div class="container" style="margin-top: 50px;">

            <!-- Repository status -->
            <table id="table-repository" class="table table-responsive system" style="margin-right: 20px;">
                <thead>
                    <tr>
                        <th class="container-name">
                            <span class="glyphicon glyphicon-hdd" style="margin-right: 10px;"></span>Uložiště
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="drive-label" align="center">Volné místo: 813.77 GB z 1.2 TB</div>
                            <div id="progress-repository" class="progress-circle" data-animation="0" data-foregroundBorderWidth="15" data-backgroundBorderWidth="15" data-fontColor="#ffffff"
                                 data-percentageY="95" data-percentageTextSize="16" data-textStyle="font-size: 16px;" data-textColor="#ffffff" data-backgroundColor="#cccccc" data-foregroundColor="#54c688">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- Backup status -->
            <table id="table-backup" class="table table-responsive system" style="margin-right: 20px;">
                <thead>
                    <tr>
                        <th class="container-name">
                            <span class="glyphicon glyphicon-hdd" style="margin-right: 10px;"></span>Zálohy
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="drive-label" align="center">Volné místo: 359 GB z 500 GB</div>
                            <div id="progress-backup" class="progress-circle" data-animation="0" data-foregroundBorderWidth="15" data-backgroundBorderWidth="15" data-fontColor="#ffffff"
                                 data-percentageY="95" data-percentageTextSize="16" data-textStyle="font-size: 16px;" data-textColor="#ffffff" data-backgroundColor="#cccccc" data-foregroundColor="#54c688">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- Services -->
            <table id="table-services" class="table table-responsive system" style="margin-right: 20px;">
                <thead>
                    <tr>
                        <th class="container-name" colspan="3">
                            <span class="glyphicon glyphicon-wrench icon-wrench" style="margin-right: 10px;"></span>Služby
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="service-name">
                        <td style="width: 5%;">
                            <div align="center"><span class="glyphicon glyphicon-ok" style="color: #00FF00;"></span></div>
                        </td>
                        <td style="width: 90%;">MiniDLNA</td>             
                        <td>
                            <a href="#">
                                <div align="center"><span class="glyphicon glyphicon-off icon-off"></span></div>
                            </a>
                        </td>
                    </tr>
                    <tr class="service-name">
                        <td style="width: 5%;">
                            <div align="center"><span class="glyphicon glyphicon-ok" style="color: #00FF00;"></span></div>
                        </td>
                        <td style="width: 90%;">Samba</td>             
                        <td>
                            <a href="#">
                                <div align="center"><span class="glyphicon glyphicon-off icon-off"></span></div>
                            </a>
                        </td>
                    </tr>
                    <tr class="service-name">
                        <td style="width: 5%;">
                            <div align="center"><span class="glyphicon glyphicon-remove" style="color: #CC0000;"></span></div>
                        </td>
                        <td style="width: 90%;">Supervisor</td>             
                        <td>
                            <a href="#">
                                <div align="center"><span class="glyphicon glyphicon-off icon-off"></span></div>
                            </a>
                        </td>
                    </tr>
                    <tr class="service-name">
                        <td style="width: 5%;">
                            <div align="center"><span class="glyphicon glyphicon-ok" style="color: #00FF00;"></span></div>
                        </td>
                        <td style="width: 90%;">Download</td>             
                        <td>
                            <a href="#">
                                <div align="center"><span class="glyphicon glyphicon-off icon-off"></span></div>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <script src="../js/jquery.circliful.min.js"></script>
        <script src="system.js"></script>
    </body>
</html>