table {
    border: none !important;
}

table tr td {
    background-color: rgba(0,0,0, 0.3) !important;
    border-color: rgba(0,0,0, 0.0) !important;
}

table tr th {
    background-color: rgba(0,0,0, 0.3) !important;
    border-color: #54c688 !important;
}

.text-name {
    color: white;
    font-weight: bold;
}

.text-info {
    color: white;
}

.icon-delete {
    color: white;
}

.icon-add {
    color: #54c688;
}

.icon-folder {
    color: white;
}

.icon-hdd {
    color: white;
}