.backup {
    float: left;
    border: none;
}

.backup tr td {
    background-color: rgba(0,0,0, 0.3) !important;
    border-color: rgba(0,0,0, 0.0) !important;
}

.backup tr th {
    background-color: rgba(0,0,0, 0.3) !important;
    border-color: #54c688 !important;
}

.container-name {
    color: white;
    font-weight: bold;
}

.drive-label {
    color: white;
    font-weight: bold;
}

.progress-circle {
    margin-top: -40px;
    margin-bottom: -20px;
    position: relative;
}

.param-name {
    color: white;
    font-weight: bold;
}

.backup-text {
    color: white;
}

.icon-delete {
    color: white;
}

.icon-add {
    color: #54c688;
}

.icon-folder {
    color: white;
}

.icon-hdd {
    color: white;
}