{block title}Hudba{/block}

{block content}

<body style="background-color: #090909">
    <iframe src="http://192.168.1.11" style="position: absolute; height: 100%; width: 100%; border: none"></iframe>
</body>

{/block}