<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
        <title>Zálohování</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap styles -->
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <!-- Layout styles -->
        <link rel="stylesheet" type="text/css" href="../css/styles.css">
        <!-- Backup layout -->
        <link rel="stylesheet" type="text/css" href="../css/backup.css">
    </head>
    <body>
        <script src="../js/jquery-3.2.1.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>

        <div class="container">
            <table class="header">
                <thead>
                    <tr>
                        <th><h3>Zálohování</h3></th>
                    </tr>
                </thead>
            </table>

            <table class="table table-responsive backup">
                <thead>
                    <tr class="param-name">
                        <th></th>
                        <th>Složka</th>
                        <th>Přírůstek</th>
                        <th>Velikost</th>
                        <th>Spuštěno</th>
                        <th>Vytvořeno</th>
                        <th>Čas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="backup-text">
                        <td style="width: 5%;">
                            <div align="center"><span class="glyphicon glyphicon-ok" style="color: #00FF00;"></span></div>
                        </td>
                        <td>Fotky</td>
                        <td>0 B</td>
                        <td>37,9 MB</td>
                        <td>6. 6. 2017 8:26</td>
                        <td>6. 6. 2017 8:31</td>
                        <td>27 s</td>
                    </tr>
                    <tr class="backup-text">
                        <td style="width: 5%;">
                            <div align="center"><span class="glyphicon glyphicon-remove" style="color: #CC0000;"></span></div>
                        </td>
                        <td>Stažené</td>
                        <td>0 B</td>
                        <td>290 MB</td>
                        <td>6. 6. 2017 8:31</td>
                        <td>6. 6. 2017 8:48</td>
                        <td>10 m 6 s</td>
                    </tr>
                </tbody>
            </table>

            <!-- Backup drive status -->
            <table id="table-backup" class="table table-responsive backup" style="margin-right: 22px;">
                <thead>
                    <tr>
                        <th class="container-name">
                            <span class="glyphicon glyphicon-hdd" style="margin-right: 10px;"></span>Pevný disk
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="drive-label" align="center">Volné místo: 359 GB z 500 GB</div>
                            <div id="progress-backup" class="progress-circle" data-animation="0" data-foregroundBorderWidth="15" data-backgroundBorderWidth="15" data-fontColor="#ffffff"
                                 data-percentageY="95" data-percentageTextSize="16" data-textStyle="font-size: 16px;" data-textColor="#ffffff" data-backgroundColor="#cccccc" data-foregroundColor="#54c688">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- Directories table -->
            <table id="table-directory" class="table table-responsive backup">
                <thead>
                    <tr>
                        <th class="container-name" colspan="3">
                            <span class="glyphicon glyphicon-folder-open icon-folder" style="margin-right: 10px;"></span>Zálohované složky
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="width: 5%;">
                            <a href="#">
                                <div align="center"><span class="glyphicon glyphicon-plus icon-add"></span></div>
                            </a>
                        </td>
                        <td style="width: 92%;">
                            <div class="form-group">
                                <label class="param-name">Cesta:</label>
                                <input type="text" class="form-control input">
                            </div>
                        </td>
                        <td style="width: 3%;"></td>
                    </tr>
                <tbody>
                    <tr class="backup-text">
                        <td style="width: 5%;"></td>
                        <td>/Fotky</td>
                        <td style="width: 5%;">
                            <a href="#">
                                <div align="center"><span class="glyphicon glyphicon-remove icon-delete"></span></div>
                            </a>
                        </td>
                    </tr>
                    <tr class="backup-text">
                        <td style="width: 5%;"></td>
                        <td>/Ostatní</td>
                        <td style="width: 5%;">
                            <a href="#">
                                <div align="center"><span class="glyphicon glyphicon-remove icon-delete"></span></div>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <script src="../js/jquery.circliful.min.js"></script>
        <script src="backup.js"></script>
    </body>
</html>