<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
        <title>Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap styles -->
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <!-- Layout styles -->
        <link rel="stylesheet" type="text/css" href="../css/styles.css">
        <!-- Backup layout -->
        <link rel="stylesheet" type="text/css" href="../css/homepage.css">
    </head>
    <body>
        <script src="../js/jquery-3.2.1.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>

        <div class="container">
            <table class="header">
                <thead>
                    <tr>
                        <th><h3>Home</h3></th>
                    </tr>
                </thead>
            </table>

            <!-- HDD status -->
            <table class="table table-responsive">
                <thead>
                    <tr class="text-name">
                        <th>
                            <div align="center"><span class="glyphicon glyphicon-hdd icon-hdd"></span></div>
                        </th>
                        <th>Uložiště</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="width: 5%;"></td>
                        <td class="text-name">Volné místo: 10 GB z 500 GB</td>
                        <td style="width: 3%;"></td>
                    </tr>
                    <tr>
                        <td style="width: 5%;"></td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">Využité místo: 490 GB 60 %</div>
                            </div>
                            <div class="text-info" align="right"></div>
                        </td>
                        <td style="width: 3%;"></td>
                    </tr>
                </tbody>
            </table>

            <!-- Services -->
            <table class="table table-responsive">
                <thead>
                    <tr class="text-name">
                        <th>
                            <div align="center"><span class="glyphicon glyphicon-wrench icon-wrench"></span></div>
                        </th>
                        <th>Služby</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-info">
                        <td style="width: 5%;">
                            <div align="center"><span class="glyphicon glyphicon-ok" style="color: #00FF00;"></span></div>
                        </td>
                        <td style="width: 90%;">MiniDLNA</td>             
                        <td>
                            <a href="#">
                                <div align="center"><span class="glyphicon glyphicon-off icon-off"></span></div>
                            </a>
                        </td>
                        <td style="width: 3%;"></td>
                    </tr>
                    <tr class="text-info">
                        <td style="width: 5%;">
                            <div align="center"><span class="glyphicon glyphicon-ok" style="color: #00FF00;"></span></div>
                        </td>
                        <td style="width: 90%;">Samba</td>             
                        <td>
                            <a href="#">
                                <div align="center"><span class="glyphicon glyphicon-off icon-off"></span></div>
                            </a>
                        </td>
                        <td style="width: 3%;"></td>
                    </tr>
                    <tr class="text-info">
                        <td style="width: 5%;">
                            <div align="center"><span class="glyphicon glyphicon-ok" style="color: #CC0000;"></span></div>
                        </td>
                        <td style="width: 90%;">Supervisor</td>             
                        <td>
                            <a href="#">
                                <div align="center"><span class="glyphicon glyphicon-off icon-off"></span></div>
                            </a>
                        </td>
                        <td style="width: 3%;"></td>
                    </tr>
                    <tr class="text-info">
                        <td style="width: 5%;">
                            <div align="center"><span class="glyphicon glyphicon-ok" style="color: #00FF00;"></span></div>
                        </td>
                        <td style="width: 90%;">Download</td>             
                        <td>
                            <a href="#">
                                <div align="center"><span class="glyphicon glyphicon-off icon-off"></span></div>
                            </a>
                        </td>
                        <td style="width: 3%;"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>